* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  //   禁用用户选择
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.n-config-provider {
  height: 100%;
  width: 100%;
  overflow: hidden;

  #app-content {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    // 自定义滚动条样式
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.2);
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 0;
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.n-tabs .n-tabs-tab {
  padding: 0 0 8px;

  .n-tabs-tab__label {
    font-weight: bold;
  }
}
.n-tabs-bar {
  height: 4px !important;
  border-radius: 2px !important;
}

// 分割线
.n-divider:not(.n-divider--vertical) {
  margin: 0;
}


// 组件切换动画
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.fade-enter-active,
.fade-leave-active {
	transition: all 0.6s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(100px);
}
